<!DOCTYPE html>
<html>
	<head>
		<title>"Aliviostripe" | <%= @title %></title>
	</head>
	<body>
		<div class="container">

	      <!-- Main hero unit for a primary marketing message or call to action -->
	      <div class="hero-unit">
	        <h1>Aliviostripe</h1>
	        <p>Wearables for Physical Therapy</p>
	        <p><a href="home" class="btn btn-primary btn-large">Learn more »</a></p>
	      </div>

	      <!-- Example row of columns -->
	      <div class="row">
	        <div class="span4">
	          <h2>What do we do?</h2>
	          <p>We use wearable technology to make physical therapy more efficient and accesible for patients  </p>
	          <p><a class="btn" href="home">View details »</a></p>
	        </div>
	        <div class="span4">
	          <h2>What do we patients?</h2>
	          <p>1. Real time feedback  <br> 2. Remote treatment </p>
	          <p><a class="btn" href="home">View details »</a></p>
	       </div>
	        <div class="span4">
	          <h2>What do our customers say about us?</h2>
	          <p>"I love getting feedback from Alivio when I am not doing my exercise right" <br> "Rehabilation was a lot easier and faster. Remote treatment really helped me make progress faster"</p>
	          <p><a class="btn" href="home">View details »</a></p>
	        </div>
	      </div>

	      <hr>
	    </div> <!-- /container -->
	</body>
</html>

