<!DOCTYPE html>
<html>
	<head>
		<title>"AlivioStripe" | <%= @title %></title>
	</head>
	<body>
		<div class="container">

	      <!-- Main hero unit for a primary marketing message or call to action -->
	      <div class="hero-unit">
	        <h1>AlivioStripe</h1>
	        <p>Wearables for Physical Therapy</p>
	      	<div class="span8">
                <h3>Campaign</h3>
                <ol>
                  <%= render @campaign %>
                </ol>
  </div>
	      </div>
	</body>
</html>